# Core dependencies
pandas>=1.5.0
numpy>=1.21.0
scikit-learn>=1.1.0
matplotlib>=3.5.0
seaborn>=0.11.0
plotly>=5.10.0
lightfm>=1.16
pyyaml>=6.0
networkx>=3.1
matplotlib>=3.7.1
numpy>=1.24.3

# Dashboard dependencies
streamlit>=1.28.0
streamlit-plotly-events>=0.0.6

# Database

# Development
pytest>=7.0.0
black>=22.0.0
flake8>=5.0.0

# For TensorBoard Logging
tensorboard>=2.10.0
torch>=1.13.0 # For torch.utils.tensorboard.SummaryWriter 